body {
  background-color: #2f4050;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-horizontal {
  width: 500px;
  height: 340px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form-horizontal img {
  width: 140px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 10px solid #eee;
}
.form-horizontal .form-group {
  width: 450px;
}
.form-horizontal .form-group .btn-login {
  background-color: pink;
  color: #fff;
}
.form-horizontal .form-group button {
  margin-top: 30px;
  font-size: 14px;
}
